In [5]:
import pandas as pd

In [8]:
cut = pd.qcut(range(10), 4, labels=False)

In [13]:
n, d = [int(x) for x in input().split()]
print(n, d)
points = []

for i in range(n):
    point = [int(x) for x in input().split()]
    points.append(point)

print(points)

ValueError: too many values to unpack (expected 2)

ValueError: invalid literal for int() with base 10: 'asdfadsf'

In [2]:
import pandas as pd
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.],
                   'Weight': [10., 20., 5., 2.]})

In [3]:
dfG = df.groupby(['Animal']).max()

In [10]:
dfG

   Max Speed  Weight  Animal
0      380.0    20.0  Falcon
1       26.0     5.0  Parrot

In [5]:
dfG['Animal'] = dfG.index

In [9]:
dfG.reset_index(drop=True, inplace=True)

In [17]:
df2 = pd.DataFrame({'Max Speed': [380., 370., 24., 26.],
                   'Weight': [10., 20., 5., 2.]}, index=['Falcon', 'F2', 'Parrot', 'P2'])

In [18]:
df2

        Max Speed  Weight
Falcon      380.0    10.0
F2          370.0    20.0
Parrot       24.0     5.0
P2           26.0     2.0

In [30]:
df2.join(dfG, how='left',  lsuffix='l', rsuffix='r',)

        Max Speedl  Weightl  Max Speedr  Weightr
Falcon       380.0     10.0       380.0     20.0
F2           370.0     20.0         NaN      NaN
Parrot        24.0      5.0        26.0      5.0
P2            26.0      2.0         NaN      NaN

In [31]:
df2.loc == dfG.loc

False

In [32]:
df2

        Max Speed  Weight
Falcon      380.0    10.0
F2          370.0    20.0
Parrot       24.0     5.0
P2           26.0     2.0

In [47]:
#initialize a dataframe
df = pd.DataFrame(
	[[21, 'Amol', 72, 67],
	[23, 'Lini', 78, 69],
	[32, 'Kiku', 74, 56],
	[52, 'Ajit', 54, 76]],
	columns=['rollno', 'name', 'physics', 'botony'])

print('DataFrame with default index\n', df)

#set column as index
df = df.set_index('rollno')

print('\nDataFrame with column as index\n',df)

DataFrame with default index
    rollno  name  physics  botony
0      21  Amol       72      67
1      23  Lini       78      69
2      32  Kiku       74      56
3      52  Ajit       54      76

DataFrame with column as index
         name  physics  botony
rollno
21      Amol       72      67
23      Lini       78      69
32      Kiku       74      56
52      Ajit       54      76

In [ ]:
# fixi